
.gameField
    width 100%
    display flex
    flex-direction row
    justify-content: space-around
    .playerField
        height 200px
        display: flex
        justify-content: center
        align-items: center 

.currentPlayerState
    width auto
    color blue
    &._wait
        color yellow
        animation-name: shake_hand
        animation-duration: 2000ms
        animation-iteration-count: infinite
        animation-timing-function: linear

.responseWrapper
    display flex
    flex-direction row
    width 100%
    justify-content space-around

@keyframes shake_hand
  from
    color blue
  to
    color yellow
