_textColor = black
_primary = white

_TopbarHeight = 60px
_CounterHeight = 20px

.wrapper
  width 100%
  position relative
.root
  color _textColor
  min-height _TopbarHeight
  background white
  justify-content center
  align-items center
  padding 1u 4u
  border-bottom 1px solid black

.content
  width 100%
  max-width $Content
  flex-direction row
  align-items center
  justify-content: space-between    