.tableWrapper
    overflow auto
    .table
      [class~='ant-table-content']
        color yellow
        &> table
          width 100%
      [class~='ant-table-header-column']
        background inherit
        text-transform: uppercase;
        text-align left
        .text
          color #A7ABB3
          font-weight: bold;
      .pagination
        position relative
        display flex
        justify-content center
        align-items center
        flex-direction row
        width 32px
        height 32px
        border-radius 50%
        background #fff
        box-shadow: 0 0 3px 0 rgba(0,0,0,0.05), 0 1px 1px 0 rgba(0,0,0,0.05);
        .icon
          height 10px
      [class~='ant-pagination-disabled']
        .pagination
          opacity 0.5
          background #f5f5f5
      [class~='ant-pagination-options']
        width 120px
        & >div
          width 100%
          margin-right 0
