.login
  display flex
  align-items center
  margin auto
  min-width 100%
  +tablet()
    min-width 300px
    margin-top 12%
  .text
    text-align center
    margin auto
    color #888888
    margin 20px 0
  .canvas
    margin auto
    width 150px
  .reset_password
    margin-top 10px
.local
  margin auto
  margin-top 20px
  background white
  padding 10px
  width 100%
  +tablet()
    padding 40px
    width 400px
  input
    padding 4px 6px
  .row
    margin-bottom gutter(l)
    margin-top gutter()
  .ant-input
    padding 4px 7px