

.centerText
  width 100%
  text-align center

.table
  width 100%
  margin-top 4u

.createGameContainer
  width 100%
  border 1px solid #000000
  border-radius 2u
  padding 4u
  margin-top 2u
  flex-direction column
  +tablet()
    flex-direction row

.createInput
  flex-grow 1
  margin-bottom 2u
  +tablet()
    margin-right 2u
    margin-bottom 0